
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
    <header>
        <h1>Congratulations!!</h1>
    </header>
    <div style="display: flex; align-items: center;">
        <img src="./../static/ghibli_image.png" alt="Celebration Image" style="width: 200px; height: auto; margin-right: 20px;">
        <h3>
            List of Crimes:
        </h3>
        <p>
            <ul>
                <li> Horse Theft</li>
                <li> Punching Ashwin</li>
                <li> Throwing chairs at random people</li>
            </ul>
        </p>
    </div>
</body>
</html>
