
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
    <header>
        <h1>Congratulations {{name}}!!</h1>
    </header>
    <div style="display: flex; align-items: center;">
        <img src="./../static/vector.png" alt="Celebration Image" style="width: 200px; height: auto; margin-right: 20px;">
        <h3>
            List of Crimes:
        </h3>
        <p>
            <ul>
                <li> Horse Theft</li>
                <li> Punching Ashwin</li>
                <li> Throwing chairs at random people</li>
                <li> Carrying the horses in a car</li>
                <li> Accidentallly making the horses fall off the car</li>
                <li> Icecream Theft</li>
                <li> Attempted hit & run on Dharshini</li>
                <li> Opioid Abuse (Coriander) </li>
            </ul>
            
        </p>    
    </div>
    <p> She was shot to death by a rival gang. May she rest in piece.</p>
</body>
</html>
